/* Scrollbar */
::-webkit-scrollbar {
    width: 15px;
    height: 15px;
    background-color: #DFB1BB;
}
::-webkit-scrollbar-thumb {
    background-color: #A46574;
    border-radius: 5px;
}
/* Navigation Bar */
    nav {
    background: linear-gradient(0deg, #A46574 0%, #DFB1BB 50%);
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    }
    nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    }
    nav ul li {
    flex: 1;
    }
    nav ul li a {
    display: block;
    width: 100%;
    color: #000000;
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;
    }
    nav ul li a:hover {
    background-color: #804957;
    }
    .sidebarbtn {
    display: block;
    width: 100%;
    color: #000000;
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;
  }
  .sidebarbtn:hover {
   background-color: #804957;
   cursor: pointer;
  }
/* Music Art */
#bgm-art, .bgm-cover {
position: fixed;
bottom: .5vw;
left: .5vw;
z-index: 7;
width: 6vw;
height: auto;
color: black;
font-size: 1.5vw;
cursor: pointer;
border-radius: 1vw;
}
.play-pause{
position: relative;
z-index: 8;
width: 2.5vw;
height: auto;
margin-left: 1.5vw;
margin-bottom: 1vw;
height: auto;
-webkit-animation: spin 2s linear infinite;
-webkit-animation:spin 4s linear infinite;
-moz-animation:spin 4s linear infinite;
animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 
100% { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
100% {
-webkit-transform: rotate(360deg);
transform:rotate(360deg);
}
}
.album-text {
    position: relative;
    z-index: 8;
    color: rgb(0, 0, 0);
    text-shadow: #FFFFFF 1px 1px 2px;

}
.album-text:hover {
    color: rgb(255, 255, 255);
    text-shadow: #000000 1px 1px 2px;
    cursor: pointer;
}
/* Update Table */
.update-table {
    border-collapse: collapse;
    background-color: #FFF;
    margin: 20px auto;
}
th, td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
}
thead {
    background-color: #DFB1BB;
}
/* Body */
.bg-top {
  background-color: #E6E3DE;
}
.background {
    /* font-family: "Indie Flower", normal; */
    background-color: #545452;
    padding-top: 20px; /* Add padding to prevent content from going under the fixed nav bar */
    margin: 0%;
}
    /* Colors
    lavender: #E6E6FA
    lightsteelblue: #B0C4DE
    snow: #FFFAFA
    ghost blue: #F8F8FF
    white smoke: #F5F5F5
    lavender blush: #FFF0F5
    */
/* Main */
.hide {
  display: none !important;
}

.show {
  display: block !important;
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}
@keyframes fadeEffect { /* Go from zero to full opacity */
  from {opacity: 0.5;}
  to {opacity: 1;}
}
.home-page {
  display: block;
}

.about-page {
  display: none;
  font-size: 1.25vw;
  padding: 1vw;
}
.about-page p, .about-page h1, .contact-page h1, .footer-nav {
  text-align: center;
}
.contact-page {
  display: none;
  font-size: 1.25vw;
  padding: 1vw;
}
/* Footer */
.footer-nav {
  background: linear-gradient(0deg, #E4BFC6 0%, #E4BFC6 50%);
  margin-top: 10px;
  padding: 12px;
  text-align: center;
  padding: 1vw;
  margin: 1vw;
  border-radius: 1vw;
  width: auto;
}
/* Sidebar */
.sidebar {
  height: 45vw;
  width: 0vw;
  position: fixed;
  z-index: 9;
  top: 1vw;
  left: 0;
  background-color: #DFB1BB;
  overflow-x: hidden;
  overflow-y: auto;
  transition: 0.5s;
  padding-top: 2vw;
  padding-bottom: 0vw;
  opacity: 90%;
}

.sidebar a {
  padding: 0.5vw 0vw 0vw 0.5vw;
  text-decoration: none;
  font-size: 1vw;
  color: #000;
  display: block;
  transition: 0.3s;
}
.sidebar p {
  padding: 0.5vw 0vw 0vw 0.5vw;
  text-decoration: none;
  font-size: 1.5vw;
  color: #000;
  display: block;
}
.sidebar a:hover {
  color: #f1f1f1;
}

@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
/* Ribbon */
.ribbondone {
  font-size: 0.6vw;
  color: #000;
  background-color: #c4f6d2;
  padding: 0.1vw 0.4vw;
  margin-left: 0.5vw;
  border-radius: 5vw;
}
.ribbonwip {
  font-size: 0.6vw;
  color: #000;
  background-color: #f4f29a;
  padding: 0.1vw 0.4vw;
  margin-left: 0.5vw;
  border-radius: 5vw;
}
.ribbonic {
  font-size: 0.6vw;
  color: #000;
  background-color: #e0896a;
  padding: 0.1vw 0.4vw;
  margin-left: 0.5vw;
  border-radius: 5vw;
}
/* Poca Database */
.info {
  background-color: #E6E3DE;
  border-left: 1vw solid #A4907A;
  margin-top: 2vw;
  margin-bottom: 2vw;
  margin-left: 10vw;
  margin-right: 10vw;
  padding: 1vw 2vw;
  font-size: 1.25vw;
}

/* Album Card */
.album-card {
  display: flex;
  border: 0.25vw solid #A4907A;
  border-radius: 2vw;
  color: #000;
  font-size: 1.25vw;
  min-width: fit-content;
  max-width: 50vw;
  margin-top: 5vw;
  margin-bottom: 5vw;
  margin-left: auto;
  margin-right: auto;
  background-color: #E6E3DE;
}
/* Left Side */
.album-card-l {
  padding: 1vw;
  align-items: center;
  border-radius: 2vw;
}
.album-cover {
  display: block;
  border-radius: 0.5vw;
  width: 20vw;
  height: auto;
  margin: auto;
}
/* Right Side */
.album-card-r {
  padding: 1vw;
  
}
.album-container {
}
.album-physical {
  margin: auto;
  height: 15vw;
  font-weight: bold;

}
/* Album Card */
.album-title {
  font-weight: bold;
  font-size: 1.75vw;
  text-align: center;
}
.album-tag {
  display: inline-block;
  color: #000;
  background: linear-gradient(0deg, #E4BFC6 0%, #E4BFC6 50%);
  border-radius: 1vw;
  padding: 0.5vw;
  margin: 0.5vw;
}
/* Photocards */
.member {
  text-align: center;
  display: flex;
  justify-content: center;
}
    .member>div {
        display: inline-block;
        text-align: center;
        max-width: 10vw;
        min-width: 10vw;
        margin: .2vw;
        padding: 0%;
        font-size: 1.75vw;
        font-weight: bold;
        color: #000;
        background-color: #fff;
        border-radius: 0px;
        vertical-align: top;
        border: 1px solid #000;
}
.poca {
    display: block;
    border: 1px solid #000;
    border-radius: 0.5vw;
    background-color: #fff;
    background: linear-gradient(0deg, #B1B1B1 0%, #F4F4F4 50%);
    min-width: fit-content;
    max-width: 20vw;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    font-style: normal;
    font-weight: bold;
    font-size: 1.75vw;
}
.broadcast {
  background: linear-gradient(0deg, #A4907A 0%, #DFB1BB 50%) !important;
}
/* Font */
.indie-flower-regular {
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
}
/* Buttons */
.form-btn {
    background: linear-gradient(0deg, #A46574 0%, #DFB1BB 50%);
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
}
link {
    color: #FFFFFF;
    text-decoration: none;
    }
link:visited {
    color: #FFFFFF;
    }
/* Background Video */
.background-video-wrapper {
  color: #fff;
  background: #000;
  text-align: center;
  position: relative;
  video {
    opacity: 0.5;
    background: #000;
    position: absolute;
    height: 10%;
    width: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }
  .copy {
    position: relative;
    z-index: 1;
    display: inline-block;
    margin: 10vmax 4rem;
  }
}
.background-video-wrapper { /* Fade */
  color: #fff;
  background: #000;
  text-align: center;
  position: relative;
  video {
    opacity: 0.5;
    background: #000;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }
  .copy {
    position: relative;
    z-index: 1;
    display: inline-block;
    margin: 1vmax 4rem;
    font-family: "Indie Flower", cursive;
    font-size: 20px;
    font-weight: 400;
  }
}
/* Scroll to Top Button */
#scrollToTopBtn {
  display: none; /* Hidden by default */
  position: fixed;
  bottom: 1vw;
  right: 1vw;
  z-index: 10;
  font-size: 1.5vw;
  border: none;
  outline: none;
  background: linear-gradient(0deg, #A46574 0%, #DFB1BB 50%);
  color: #000;
  cursor: pointer;
  padding: 1vw;
  border-radius: 1vw;
}