* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
[data-theme="white-swan"] {
  --color-bg: white;
  --bg-img: url("https://img.freepik.com/premium-photo/white-wool-knitted-texture-background-tricot-pattern-3d-rendering_476612-30663.jpg?semt=ais_user_personalization&w=740&q=80");
  --bg-sz: ;
  --rv-img: url("https://i.pinimg.com/474x/13/cf/ae/13cfaedd46bb4e1df62e29e14e127258.jpg");
  --color-txt: black;
  --rv-txt: white;
  --color-fg: #979595;
  --fg-img: url("https://img.freepik.com/free-photo/gray-simple-textured-design-background_53876-108318.jpg?semt=ais_hybrid&w=740&q=80");
  --color-dt: #fce0f0;
  --dt-img: url("https://static.vecteezy.com/system/resources/previews/056/330/441/non_2x/pink-paper-texture-background-design-vector.jpg");
}
[data-theme="black-swan"] {
  --color-bg: black;
  --bg-img: url("https://i.pinimg.com/474x/13/cf/ae/13cfaedd46bb4e1df62e29e14e127258.jpg");
  --rv-img: url("https://img.freepik.com/premium-photo/white-wool-knitted-texture-background-tricot-pattern-3d-rendering_476612-30663.jpg?semt=ais_user_personalization&w=740&q=80");
  --color-txt: white;
  --rv-txt: black;
  --color-fg: #979595;
  --fg-img: url("https://img.freepik.com/free-photo/gray-simple-textured-design-background_53876-108318.jpg?semt=ais_hybrid&w=740&q=80");
  --color-dt: #fce0f0;
  --dt-img: url("https://static.vecteezy.com/system/resources/previews/056/330/441/non_2x/pink-paper-texture-background-design-vector.jpg");
}

.background {
  z-index: 0;
  background-color: var(--color-bg);
  background-image: var(--bg-img);
  background-position: center;
  background-size:;
  background-repeat:;
  color: var(--color-txt);
}
.just-another-hand-regular {
  font-family: "Just Another Hand", cursive;
  font-weight: 400;
  font-style: normal;
}

.header {
  text-align: left;
  font-family: "Just Another Hand", "Times New Roman", Times, serif;
  font-size: 3rem;
  position: sticky;
  top: 0px;
  padding-top: 10px;
  padding-left: 0px;
  height: 60px;
  left: 1%;
  width: 10%;
  color: var(--color-dt);
  filter: drop-shadow(0 -1px 0 #7e6272) drop-shadow(0 1px 0 #7e6272)
    drop-shadow(-1px 0 0 #7e6272) drop-shadow(1px 0 0 #7e6272);
}
.header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: var(--color-txt);
}
.topButton {
  display: block;
  padding: 12px 0px;
  margin: 12px 0px;
  width: 100%;
  background-color: var(--color-dt);
  color: black;
  border: 2px solid var(--color-txt);
  border-radius: 12px;
  cursor: pointer;
}
.topButton:hover {
  box-shadow: 0 4px 8px 0 var(--color-txt);
}
.sidebarLeft {
  left: 1%;
  max-height: 92vh;
  position: fixed;
  z-index: 1;
  top: 10;
  width: 10%;
}
.sidebarRight {
  right: 1%;
  position: fixed;
  z-index: 1;
  top: 10;
  width: 10%;
  color: black;
}
.sidebarMini {
  margin: 16px 0;
  width: 100%;
  padding: 4px;
  background-color: var(--color-fg);
  background-image: var(--fg-img);
  border: 2px solid var(--color-txt);
  border-radius: 12px;
}
.sidebarButton {
  padding:;
  margin: 2px 4px;
  background-color: var(--color-dt);
  color: black;
  border: 2px solid var(--color-txt);
  border-radius: 12px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
}
.buttonDiv {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  background-color: var(--color-fg);
  background-image: var(--fg-img);
  border: 2px solid var(--color-txt);
  border-radius: 12px;
}
.sidebarButton:hover {
  box-shadow: 0 4px 8px 0 var(--color-txt);
}
.sidebarHeader {
  text-align: center;
  font-weight: bold;
  color: var(--rv-txt);
  border: 0px solid blue;
  font-size: 1.25rem;
  color: var(--color-dt);
  filter: drop-shadow(0 -1px 0.5px #7e6272) drop-shadow(0 1px 0.5px #7e6272)
    drop-shadow(-1px 0 0.5px #7e6272) drop-shadow(1px 0 0.5px #7e6272);
  letter-spacing: 2px;
}

.discography {
  overflow-y: scroll;
  overflow-x: hidden;
  border: 1px solid red;
  height: 100%;
  max-height: 88vh;
  background-color: var(--color-fg);
  background-image: var(--fg-img);
  color: black;
  border: 2px solid var(--color-txt);
  border-radius: 12px;
  padding: 4px 0px;
  padding-left: 4px;
  padding-bottom: 4px;
}
.updates {
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 8vw;
  width: 100%;
  background-color: var(--color-fg);
  background-image: var(--fg-img);
  color: black;
  border: 2px solid var(--color-txt);
  border-radius: 12px;
  padding: 4px 4px 8px 4px;
}
.updates ul {
  padding: 4px 0px;
}
.updates li {
  padding: 4px 0px;
  border-bottom: 2px dotted black;
}
.discography p {
  font-size: 1.25rem;
  margin-top: 0.75rem;
  margin-bottom: 0.25rem;
  text-align: center;
  color: #7e6272;
}
.discography a {
  padding: 5px 0 0 5px;
  text-decoration: none;
  font-size: 1rem;
  color: #000;
  display: block;
  transition: 0.3s;
}
.discography a:hover {
  color: var(--rv-txt);
}
.discography span {
  transform: translateY(20px);
  font-size: 12px;
  margin-right: 4px;
  padding: 2px 4px;
  margin-left: 4px;
  border-radius: 4px;
}

.ribbondone {
  background-color: #c4f6d2;
}
.ribbonwip {
  background-color: #f4f29a;
}
.ribbonic {
  background-color: #e0896a;
}
[data-theme-toggle] {
  display: block;
  padding: 12px 0px;
  margin: 12px 0px;
  width: 100%;
  background-image: var(--rv-img);
  color: var(--rv-txt);
  border: 2px solid var(--color-dt);
  border-radius: 12px;
  cursor: pointer;
}
[data-theme-toggle]:hover {
  box-shadow: 0 4px 8px 0 var(--color-txt);
}
#myInput {
  display: none;
}
.tooltip {
  position: relative;
  display: block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
/**/
.music-player {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.track-title {
  display: inline-block;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: auto;
  font-weight: 500;
  font-size: 1rem;
  margin: 0.8vmin 0;
}
.controls {
  display: inline-flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 20px;
}

button.play-pause,
button.prev,
button.next {
  width: 20px;
  height: 20px;
  border-radius: 4vmin;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  background: var(--bg-color);
  cursor: pointer;
  transition: all 0.2s ease;
  color: var(--text);
  font-size: 1rem;
  font-family: monospace;
}

.progress-container {
  margin-top: 2vmin;
  height: 1vmin;
  border-radius: 0.5vmin;
  background: var(--bg-color);
  box-shadow:
    inset 0.4vmin 0.4vmin 0.8vmin var(--shadow-dark),
    inset -0.4vmin -0.4vmin 0.8vmin var(--shadow-light);
  overflow: hidden;
  cursor: pointer;
  border: 1px solid #7e6272;
  display: block;
}

.progress-bar {
  height: 100%;
  width: 0%;
  background: black;
  transition: width 0.1s linear;
  border-radius: 0.5vmin;
  border: 2px solid black;
}

/**/
.main {
  color: black;
  margin-left: 12%;
  margin-right: 12%;
}
/* Album Card */
.album-card {
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.album-cover {
  display: block;
  border: 4px solid var(--color-txt);
  border-radius: 0px;
  width: 20%;
  height: auto;
  margin: auto;
}
.album-title {
  font-weight: bold;
  font-size: 1.3rem;
  text-align: center;
  color: var(--color-txt);
}
.album-tag {
  display: inline-block;
  background-color: var(--color-dt);
  color: black;
  border: 2px solid var(--color-txt);
  border-radius: 12px;
  padding: 8px;
  margin: 8px;
}
.album-tag a:hover {
  box-shadow: 0 4px 8px 0 var(--color-txt);
}
/* Photocards */
.member {
  text-align: center;
  display: flex;
  justify-content: center;
}
.member > div {
  display: inline-block;
  text-align: center;
  width: 70%;
  margin: 2px;
  padding: 0%;
  font-size: 20px;
  font-weight: bold;
  color: #000;
  vertical-align: top;
}
.wolfchan {
  background-color: #b1b7cf;
}
.leebit {
  background-color: #ffffff;
}
.dwaekki {
  background-color: #fca5c8;
}
.jiniret {
  background-color: #fbf6f5;
}
.qoukka {
  background-color: #ffbc97;
}
.bokkari {
  background-color: #f9ec6d;
}
.puppym {
  background-color: #fad4b4;
}
.fox-ny {
  background-color: #ffe5d1;
}
.blank {
  background-color: var(--bg-color);
}
.poca {
  display: block;
  border: 2px solid var(--color-txt);
  border-radius: 12px;
  background-color: var(--color-dt);
  min-width: fit-content;
  max-width: 10%;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
}
h1 {
  text-align: center;
  font-size: 2.5rem;
  color: var(--color-dt);
  filter: drop-shadow(0 -1px 0 #7e6272) drop-shadow(0 1px 0 #7e6272)
    drop-shadow(-1px 0 0 #7e6272) drop-shadow(1px 0 0 #7e6272);
}